doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Will Ward

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Devicons
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none WILL WARD
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Will 
                        span.text-primary Ward
                    .subheading.mb-5
                        | Full Stack Web Developer · Las Vegas, USA · 
                        a(href='mailto:name@email.com') willjw3dev@gmail.com
                    p.lead.mb-5
                        | Full-stack web developer with over 2 years experience building web applications and developer tools predominantly in the JavaScript ecosystem.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/will-ward-65234a170/' target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/willjw3' target="_blank")
                            i.fab.fa-github
                        a.social-icon(href='https://stackoverflow.com/users/10262432/will-ward' target="_blank")
                            i.fab.fa-stack-overflow
                        a.social-icon(href='https://www.youtube.com/channel/UCroJckuB_ohjtZUewCv0Ukw' target="_blank")
                            i.fab.fa-youtube

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 CV - Atlanta, USA
                            p
                                | Working on a remote team with product management and fellow engineers to plan features and create specifications for a large web application. Responsible for building and maintaining new features as well as improving existing ones. Writing clear documentation about app functionality for users and code implementation for engineers. 
                        .flex-shrink-0
                            span.text-primary October 2021 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Scotch Malt Sales - Tokyo, Japan
                            p
                                | Oversaw development of the company e-commerce website. Responsibilities included creating its new-product and promotion pages as well as leveraging its API to give the site customized functionality. Built single-page applications with a serverless architecture using the React framework Gatsby and AWS Lambda. Built an internal application for automating website administration processes with Node.js and Express.
                        .flex-shrink-0
                            span.text-primary August 2019 - September 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Forum Moderator (Volunteer)
                            .subheading.mb-3 FreeCodeCamp - Web Development Learning Platform
                            p
                                | Responsibilities include assisting web development learners in the freeCodeCamp forum by addressing programming questions directly while also helping to keep the forum a safe and useful learning environment.
                        .flex-shrink-0
                            span.text-primary May 2019 - Present

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Portland State University
                            .subheading.mb-3 Bachelor of Science
                            div Physics
                            p GPA: 3.75
                        .flex-shrink-0
                            span.text-primary August 1997 - June 2002

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 freeCodeCamp
                            .subheading.mb-3 Full-Stack Web Developer Certification
                            
                        .flex-shrink-0
                            span.text-primary August 2018 - December 2018

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.devicon-django-plain
                        li.list-inline-item
                            i.devicon-graphql-plain
                        li.list-inline-item
                            i.devicon-d3js-plain
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.devicon-bootstrap-plain
                        li.list-inline-item
                            i.devicon-linux-plain
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Unit & Functionality Testing
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git & GitHub - Version Control & Project Management

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                    
                    div.card.mb-5 
                        img(src='../assets/img/kanri_screenshot.png', class='card-img-top')
                        .card-body 
                            h3.mb-1 Kanri
                            h5 A project management tool prototype
                            div.d-flex.justify-content-around.align-items-center 
                                ul.list-inline.dev-icons
                                    li.list-inline-item
                                        i.fab.fa-python
                                    li.list-inline-item
                                        i.devicon-django-plain
                                    li.list-inline-item
                                        i.fab.fa-js-square
                                    li.list-inline-item
                                        i.devicon-postgresql-plain
                                    li.list-inline-item
                                        i.fab.fa-html5
                                    li.list-inline-item
                                        i.fab.fa-css3-alt
                                    li.list-inline-item
                                        i.devicon-bootstrap-plain
                            p.card-text A Kanban project management application that tracks projects and tasks/issues associated with them. A proof-of-ablility project, it could be considered a basic Trello clone.
                            a(href="https://kanri-django.herokuapp.com/" class="d-block" target="_blank") Live Demo - Free hosting at Heroku takes several seconds to spin up 
                            a(href="https://github.com/willjw3/kanri-django" class="d-block" target="_blank") Source Code

                    div.card.mb-5.mt-5
                        img(src='../assets/img/coinspy_home.png', class='card-img-top')
                        .card-body 
                            h3.mb-1 CoinSpy
                            h5 A Cryptocurrency information application
                            div.d-flex.justify-content-around.align-items-center 
                                ul.list-inline.dev-icons
                                    li.list-inline-item
                                        i.fab.fa-js-square
                                    li.list-inline-item
                                        i.fab.fa-react
                                    li.list-inline-item
                                        i.fab.fa-node-js
                                    li.list-inline-item
                                        i.fab.fa-html5
                                    li.list-inline-item
                                        i.fab.fa-css3-alt
                            p.card-text This application leverages the power of the CoinGecko API to deliver numbers and charts for the top 100 cryptocurrencies by market cap. It is a serverless application and makes use of AWS Lambda for back-end functionality and D3.js for data visualization.
                            a(href="https://coinspy.netlify.app/" class="d-block" target="_blank") Live Demo 
                            a(href="https://github.com/willjw3/crypto-dashboard-example" class="d-block" target="_blank") Source Code

                    div.card 
                        img(src='../assets/img/pomodoro_clock_fcc.png', class='card-img-top')
                        .card-body 
                            h3.mb-1 25 + 5 Clock
                            h5 A freeCodeCamp Front End Libraries Project
                            div.d-flex.justify-content-around.align-items-center 
                                ul.list-inline.dev-icons
                                    li.list-inline-item
                                        i.fab.fa-js-square
                                    li.list-inline-item
                                        i.fab.fa-react
                                    li.list-inline-item
                                        i.fab.fa-node-js
                                    li.list-inline-item
                                        i.fab.fa-html5
                                    li.list-inline-item
                                        i.fab.fa-css3-alt
                            p.card-text This project was a requirement for the freeCodeCamp Front-End Libraries Certification, and even though it's a relatively simple app, this reworking includes a highly efficient implementation of React Hooks, which makes it worthy of being featured here.
                            a(href="https://pomodoro-clock-fcc-frontend-libraries-project.netlify.app/" class="d-block" target="_blank") Live Demo  
                            a(href="https://github.com/willjw3/pomodoro-clock-freecodecamp-front-end-libraries-project" class="d-block" target="_blank") Source Code

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | When indoors, I enjoy reading and writing, particularly philosophy. I also enjoy cooking and when I have something specific in mind, I tend to spend way too many hours online looking for the perfect recipe. 
                    p
                        | I do outdoor activities when weather permits (and sometimes when it doesn't). I enjoy jogging and cycling, and when I have time I like to go hiking and camping. 
                    p.mb-0 
                        | As far as technology goes, outside of web development I'm interested in cybersecurity and computer networking.
            hr.m-0

            

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')