// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$blue: #10287F;

// Override Bootstrap default state colors

$primary: $blue;
